.nav-link{
    color:  black;
}
.nav-link:hover{
    color: rgb(122, 113, 113);
}
.body{
    padding: 13%;
    margin: 0%;
}


.text1{
    position: absolute;
    text-align: center;
    left: 1250px;
    top: 150px;
    height: 10px;
    width: 375px;
}

.titel1{
    position: absolute;
    left: 0px;
    top: -40px;
    height: 10px;
    width: 350px;
}

.text2{
    position: absolute;
    text-align: center;
    left: 275px;
    top: 650px;
    height: 10px;
    width: 375px;
}

.titel2{
    position: absolute;
    left: 0px;
    top: -40px;
    height: 10px;
    width: 350px;
}


.foto1{
    position: absolute;
    left: 250px;
    top: 175px;
   height: 300px;
   box-shadow:  2px 2px 4px #000000;
}

.muziek{
    position: absolute;
    text-align: center;
    left: 1300px;
    top: 850px;
    

}
